html,body {
    background-color :#f5f5f5;
    max-width:  1140px;
    margin: 0 auto;
    padding: 0;
}

input, textarea {
    font    : .9em/1.5em "handwriting", sans-serif;
    border  : none;
    padding : 0 5px;
    margin  : 0;
    max-width   : 300px;
    background: #fff;
    opacity: 0.5;
    border-bottom: 2px dashed #555;
}

input:hover{
    background: #000;
    color: #fff;
    transition-delay: 0.1s;
}

textarea {
  display : block;
  padding : 10px;
  max-width   : 240px;
  height  : 360px;
  resize  : none;
  overflow: auto;
}

.btn {
    border: 2px double #000;
    border-radius: 10px;
    cursor: pointer;
    width: 140px;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
}

h2{
    font-size: 24px;
    letter-spacing: 6px;
    text-align: center;
}

h4 {
    color: #cd0000;
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
}

.list {
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 650px;
    font-family: courier, monospace;
    
}

.list li {
    list-style: none;
    text-indent: 5px;
    height: auto;
    padding: 5px;
    text-transform: capitalize;
    border-bottom: 1px dotted #dedede;
}

.list li:hover {
    padding: 1px;
    background-color: #f0f0f0;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -ms-transition:     all 0.2s;
    -o-transition:      all 0.2s;
}

.lines {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 3px;
    float: left;
    margin-left: 20px;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

#content {  
    max-width: 100%;
    margin: 0 auto;
} 

#left {
    overflow: hidden;
    min-width: 25%; 
    margin:2px; 
    padding: 1em; 
    border: 2px double #000;
    border-radius: 10px;
    background: #fff; 
} 

#right {
    overflow: hidden;
    min-width: 60%; 
    margin:2px; 
    padding: 1em; 
    border: 2px double #000;
    border-radius: 10px;
    background: white; 
} 

#left  { float:left;  }
#right { float:right; }